/* ************NAV-BAR******************************************************** */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    /* border: 1px solid red; */
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    z-index: 2;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.logo {
    font-size: xx-large;
    font-family: soleil, Helvetica, Arial, sans-serif;
}

.nav-items {
    list-style: none;
    font-weight: 600;
    font-size: small;

}

.nav-items {
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 100px;
    margin-top: 10px;
    font-family: soleil, Helvetica, Arial, sans-serif;
}

.nav-right {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    width: 30%;
    margin-right: 5px;
}

.search-bar {
    border: 1px solid black;
    padding: 7px;
}

.search-data {
    margin-top: 1px;
    border: none;
    margin-left: 6px;
    margin-top: 5px;
}

.sign-in {
    list-style: none;
    margin-top: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bag {
    /* border: 4px solid red; */
    margin-right: 20px;
}

/* ***********************************GIFTS SECTION*************************************** */

#shopnow {
    text-align: center;
    padding: 30px 20px;
    font-family: soleil, Helvetica, Arial, sans-serif;
}

.main {
    text-align: center;
}

.banner-text {
    position: absolute;
    top: 300px;
    color: white;
}

.gift-banner img {
    width: 100%;
}

#J-Crew {
    font-size: 70px;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-weight: lighter;
    margin-left: 400px;
    margin-top: 70px;
}

#below-j-crew {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: soleil, Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-left: 380px;
    font-stretch: ultra-expanded;
}

.shop-for-cards {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 250px;
}

.shop-for-cards div {
    border: 1px solid gray;
    color: black;
    background-color: white;
    font-family: soleil, Helvetica, Arial, sans-serif;
    font-size: small;
    padding: 13px 55px;
}

/* *********************************IMAGES-CARDS-SECTION*******************************************/

.images-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

#image2 {
    height: 750px;

}

#image4 {
    height: 708px;
    width: 510px;
}

#image6 {
    height: 750px;
    width: 510px;

}

.image-skishop,
.image-beachy {
    width: 100%;
}

.text-1,
.text-2 {
    position: absolute;
    margin-top: -150px;
    margin-left: 80px;
    text-align: center;
    color: white;
    font-family: freight-big-pro, sans-serif;
}

#snowy,
#beachy,
#fact,
#snooze,
#NYE {
    font-size: 30px;
    padding: 10px;
    font-weight: lighter;
}

#visit-ski-shop,
#visit-sun-shop,
#bundle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-3 {
    position: absolute;
    margin-top: -250px;
    margin-left: 80px;
    text-align: center;
    color: white;
    font-family: freight-big-pro, sans-serif;
}

.text-4 {
    position: absolute;
    margin-top: -200px;
    margin-left: 80px;
    text-align: center;
    color: white;
    font-family: freight-big-pro, sans-serif;
}

#holiday-print,
#new-arrivals,
#party-shop {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-5,
.text-6 {
    position: absolute;
    margin-top: -200px;
    margin-left: 80px;
    text-align: center;
    color: white;
    font-family: freight-big-pro, sans-serif;
}

#coats {
    font-size: 30px;
    padding: 10px;
    font-weight: lighter;
    margin-left: 40px;
}

/* *******************************************Shop-New Arrivals******************************* */

.new-arrivals {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-left: 70px;
}
#shop-new-arrivals{
   font-weight: lighter;
    font-size: 30px;
}
.shop-item{
    border: 1px solid gray;
    padding: 10px 20px;
    font-weight: 800;
}
/* ********************************Big-Container*********************************************** */

.container{
    background-color: #f8f4ef;
    padding-bottom: 80px;
}
.first{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.first img{
    width: 15%;
}
#community{
    margin-top: 160px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
.second{
display: flex;
width: 75%;
justify-content: space-around;
margin-left: 170px;
}
.second img{
    width: 95%;
}
.card-h3{
    padding: 10px;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
}
.card-h1{
    padding: 10px;
    font-weight: lighter;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
}
.underline{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}
.top-picks{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 140px;

}
.top-picks img{
    width: 90%;
   
}
#more-stories{
    font-size: 45px;
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.top-picks-text{
    padding: 10px;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
}
.text-h3{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}
#fix-image{
    height: 56%;
    width: 80%;
}