* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar {
    /* border: 1px solid red; */
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    z-index: 2;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}
#shopnow {
    text-align: center;
    padding-top: 8%;

    font-family: soleil, Helvetica, Arial, sans-serif;
}

.logo {
    font-size: xx-large;
 
}

.nav-items {
    list-style: none;
    font-weight: 600;
    font-size: small;

}
.nav-items :hover{
   border-bottom: 2px solid black;
}

#gift-hover li:hover{
    text-decoration: underline !important;
}


.nav-items {
    display: flex;
    flex-direction: rows;
    justify-content: space-evenly;
    width: 50%;
    margin-right: 100px;
    margin-top: 10px;
    font-family: soleil, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.nav-right {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    width: 30%;
    margin-right: 5px;
}

.search-bar {
    border: 1px solid black;
    padding: 7px;
}

.search-data {

    border: none;
    margin-left: 6px;
    margin-top: 6px;
    padding: 1px;
}

.sign-in {
    list-style: none;
    /* border: 1px solid red; */
    margin-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.nav-right :hover{
    border-bottom: 2px solid black;
}


.bag {
    /* border: 4px solid red; */
    margin-right: 20px;
}

.gifts-dropdown{
    padding: 1%;
    width: 20%;
    background-color: white;
}
.gifts-dropdown div{
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#gifts-bold{
    font-weight: bold;
    margin-bottom: 4%;
}
.gifts-dropdown-navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    left: 12%;
    background-color: rgb(245, 244, 244);
    margin-bottom: 3%;
}

/* **********************************New************************************************************** */

.new {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  
    /* width: 100%; */

}
.main{
    display: flex;
    width: 100%;
    padding: 3%;
}
.new-navbar{
    display: flex;
    width: 100%;
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 4%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);
}

.new-images {
    display: flex;
    width: 100%;
}

.new-images img {
    width: 80%;
}
.to-bold{
    padding-bottom: 6%;
    font-size: 25px;
}
.men-section{
margin-top: 5%;
}
.gray{
    color: gray;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5%;
}
.options{
    padding: 1.5%;
    font-size: large;
}
/* ***************************************WOMEN********************************************* */

* {
    font-family: soleil, Helvetica, Arial, sans-serif;
}
.women-navbar{
    display: flex;
    width: 100%;
    padding-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);


}

.women-image-card{
    width: 40%;
}
.all-text{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.give-flex{
    display: flex;
    width: 90%;
}
.give-flex img{
    width: 90%;
}
.give-flex2{
    display: flex;
    justify-content: space-around;
    width: 90%;

}
.give-flex2 img{
    width: 90%;
}
#make-women-text{
    font-size: 30px;
    padding-bottom: 10%;
}
.down-women{
    padding: 3%;
    font-weight: bold;
}
.make-women-text2{
    font-size: 25px;
    padding-top: 18%;
    padding-bottom: 10%;
}
.down-womwn-2{
    padding: 3%;

}
.make-women-text3{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 14%;
}
.accessories{
    font-size: 25px;
    padding-top: 25%;
    padding-bottom: 10%;
    padding-left: 2%;
}
.make-women-text4{
    font-size: 25px;
    padding-bottom: 4%;
    padding-top: 1%;
}
.hidden{
    display: none;
}
/* ///////////////////////////Men-Navbar -part//////////////////// */ 
.men-navbar{
    
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 4%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);
}
.men-nav{
    display: flex;
    width: 100%;
} 


.men-image-card{
    width: 40%;
}
.alltext{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.give-flex-men{
    display: flex;
    width: 90%;
}
.give-flex-men img{
    width: 90%;
}
.give-flex-men-2{
    display: flex;
    justify-content: space-around;
    width: 90%;

}
.give-flex-men-2 img{
    width: 90%;
}
#make-men-text{
    font-size: 30px;
    padding-bottom: 10%;
}
.down-men{
    padding: 3%;
    font-weight: bold;
}
.make-men-text2{
    font-size: 25px;
    padding-top: 18%;
    padding-bottom: 10%;
}
.down-men-2{
    padding: 3%;

}
.make-men-text3{
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 14%;
}
.Accessories{
    font-size: 25px;
    padding-top: 25%;
    padding-bottom: 10%;
    padding-left: 2%;
}
.make-men-text4{
    font-size: 25px;
    padding-bottom: 4%;
    padding-top: 1%;
}


/* /////////////////////cashmere-navbar ////////////////////////// */

.cashmere{
    width: 20%;
    padding-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);
    left: 37%;
    padding-bottom: 1%;
    padding-left: 1%;
    
    }
  
    .shop-cashmere{
        padding: 3%;
        padding-bottom: 5%;
        font-weight: bold;
    }
    .cashmere-options{
        padding: 2%;
        padding-left: 4%;
        font-size: 15px;
        
    }
/* /////////////////////////////HOME-NAVBAR?/////////////////////////// */

.main-home-navbar{
    /* display: flex; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position :absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);
    padding-bottom: 4%;
    padding-left: 3%;
  
}
.main-home{
    display: flex;
}
.home-text{
    display: flex;
    justify-content: space-around;
    width: 80%;
  
}
.home-bold{
    padding: 9%;
    padding-left: 8%;
    font-size: 23px;
}
.shop-home{
    padding: 7%;
    font-size: 20px;
}
.home-options{
    padding: 2%;
}
.home-images{
    display: flex;
    width: 50%;
}
.home-images img{
width: 90%;
}
.home-right-sidepart{
padding-left: 5%;
padding-top: 1%;
}
.shop-latest{
padding-bottom: 2%;
font-size: 20px;
}

/* /////////////////STORIES-NAVBAR//////////////////////////// */
.stories {
    /* display: flex; */
    justify-content: space-around;
    padding: 3%;
    width: 100%;
    padding-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244);
}
.needed-stories{
    display: flex;
}

.stories-text {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.stories-text img {
    width: 80%;
}

.stories-right {

    width: 50%;
}

.stories-images {
    display: flex;

}

.stories-images img {
    width: 90%;
}

.stories-heading {
    font-size: 24px;
    padding-bottom: 3%;
}

.stories-gry {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
}

.women-stories div {
    padding: 3%;
}

.Mens-stories div {
    padding: 2%;
}

/* /////////////////////////////sale-Navbar///////////////////////////// */
.sale{
   
    justify-content: space-evenly;
    width: 50%;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index : 3;
    position : absolute;
    top: 9%;
    background-color: rgb(245, 244, 244); 
    left: 40%;

 }
 .sale-needed{
    display: flex;
    justify-content: space-around;
 }
 .sale-bold{
    font-size: 25px;
    padding-bottom: 8%;
 }

 .all-bold-sale div{
    font-weight: bold;
    padding: 3%;
 }
 .sale-options{
    font-size: 20px;
    padding-bottom: 10%;
    padding-top: 8%;
    font-weight: bold;
 }
 .to-be-sale div{
    padding: 5%;
 }

 /* **********************************sign-in page********************************************* */

 .sign-in-page {
    width: 30%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 4;
    top : 15%;
    right : 35%;
    background-color: whitesmoke;
}

#sign-in-page-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 5%;
}

#e-mail-signin-page {
    margin-left: 13%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
}

#password-signin-page {
    margin-left: 13%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    box-sizing: border-box;
    border: 1px solid gainsboro;
}


.rem-forget {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
.checkbox-align{
    margin-left: 3%;
}
#forget-password{
    color: blue;
    margin-top: 6%;
    margin-right: 0%;
}
.sign-in-now{
    width: 67%;
    margin: auto;
    border: 1px solid grey;
    padding: 2% 4%;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: soleil, Helvetica, Arial, sans-serif;
}
.privacy-policy{
    margin-left: 10%;
    font-size: 14px;
    padding-bottom: 15%;
    padding-top: 5%;
}
.dont-have-account{
    padding-top: 5%;
    padding-bottom: 25%;
    display: flex;
    justify-content: space-around;
}
.dont-have-account-left{
    margin-left: 12%;

}
.dont-have-account-right{
    margin-right: 15%;
    color: blue;
    cursor: pointer;
}
#cross{
    /* border: 1px solid red; */
    padding: 5%;
    margin-left: 85%;
    cursor: pointer;
    margin-top: -15%;   
}

/* ////////////////////////////sign-up-form///////////////////////////////////// */

.sign-up-page {
    width: 30%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 4;
    top : 15%;
    right : 35%;
    background-color: whitesmoke;
}

#sign-up-page-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 5%;
}

#e-mail-signup-page {
    margin-left: 15%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    border: 1px solid gainsboro;
}

#password-signup-page {
    margin-left: 15%;
    padding: 2.5% 15%;
    margin-bottom: 3%;
    border-radius: 1%;
    border: 1px solid gainsboro;
}

#country-select{
    margin-left: 15%;
    margin-top: 3%;
    padding: 2.5% 22%;
}
.remember-forget {
    
    margin-left: 9%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    
}
.checkbox{
    margin-left: 3%;
}

.sign-up-now{
    width: 67%;
    margin: auto;
    border: 1px solid grey;
    padding: 2% 4%;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
    font-family: soleil, Helvetica, Arial, sans-serif;
}
.privacy{
    margin-left: 10%;
    font-size: 14px;
    padding-bottom: 10%;
    padding-top: 5%;
}
.already-have-account{
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
}
.already-have-account-left{
    margin-left: 12%;

}
.already-have-account-right{
    margin-right: 17%;
    color: blue;
    cursor: pointer;
}
.cross-signup{
    padding: 5%;
    margin-left: 85%;
    cursor: pointer;
    margin-top: -15%; 
}

/* ///lazy loading==================================================> */


.DivForMargin {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* /////////////////////////MAIN-PAGE-IMAGE///////////////////////////////////// */
.main-container{
    position: absolute;
    width: 100%;
}
  .main-page-img{
    padding-top: 4%;
    width: 100%;
    height: 300px;
  }
  .gift-women-text{
    position: absolute;
    color: white;
    top: 30%;
    left: 30%;
  }
  .giftguide-text{
    font-size: 60px;
    font-weight: lighter;
    margin-left: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .giftguide-para{
   font-size: 20px;
  }
  .select-tag{
    margin-top: 3%;
    margin-left: 36%;
    padding: 1.5% 5%;
    cursor: pointer;
  }
  .best-top{
    display: flex;
    justify-content:space-between;
  }
  #best-sell{
    padding: 1.5% 2%;
    border: 1px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  #top-r{
    padding: 1.5% 2%;
    border: 1px solid black;
    color: white;
    background-color: black;
    margin-right: 5%;
    cursor: pointer;
  }
  /* //////////////////////SHOPPING-OPTIONS//////////////// */
  #shopping-options{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin-top: 8%;
    padding: 2%;

  }
  @media screen and (min-width:501px) and (max-width:900px){ 
    #shopping-options {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
}
@media screen and (min-width:201px) and (max-width:500px){ 
    #shopping-options {
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
}
  #shopping-options button{
   color: wheat;
   background-color: black;
   margin-left: 2%;
   padding: 1% 2%;
   font-weight: bold;
   cursor: pointer;
  }


  #shopping-options div{
    padding: 2%;
    border: 2px solid pink;
    margin: 7px;
    cursor: pointer;
  }

  #shopping-options div :hover{
    margin: 10px;
  }

  #shopping-options img{
   width: 80%;
   padding: 4%;
  }
   #shopping-options h2,  #shopping-options h3,  #shopping-options h4,  #shopping-options button{
    padding: 1%;
    margin-left: 4%;
   }
   .select-from-shop{
    padding: 1% 3.5%;
    margin-top: 30%;
    color: white;
    background-color: black;
    font-size: 15px;
 
   }
   .select-by-price{
    padding: 1% 3.2%;
    margin-top: 1%;
    color: white;
    background-color: black;
    font-size: 15px;
    
   }
   /* /////////////////////addtocart///////////////////////// */
   .addtocart-page{
    text-decoration: none;
    cursor: pointer;
}